<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App title</title>
    <link rel="icon" href="/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

</head>
<body>
<nav class="sidebar locked">
    <div class="logo_items flex">
        <span class="nav_image">
          <img src="/ico.png" alt="logo_img" />
        </span>
        <span class="logo_name">SubCourse.uz</span>
        <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
        <i class="bx bx-x" id="sidebar-close"></i>
    </div>

    <div class="menu_container">
        <div class="menu_items">
            <ul class="menu_item">
                <div class="menu_title flex">
                    <span class="title">Dashboard</span>
                    <span class="line"></span>
                </div>
                <li class="item">
                    <a th:href="@{/}" class="link flex">
                        <i class="bx bx-home-alt"></i>
                        <span>Home</span>
                    </a>
                </li>

            </ul>
            <ul class="menu_item">

                <li class="item" th:if="${userRole == 'ROLE_ADMIN'}" >
                    <a th:href="@{/admin}" class="link flex">
                        <i class="bx bx-award"></i>
                        <span>Admin Panel</span>
                    </a>
                </li>
                <li class="item">
                    <a th:href="@{/settings}" class="link flex">
                        <i class="bx bx-cog"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar_profile flex">
    <span class="nav_image">
        <img src="/ico.png" alt="logo_img" />
    </span>
            <div class="data_text">
                <span class="email"><p class="email" th:text="${userFullName}">Default Email</p></span>
            </div>
        </div>

    </div>
</nav>
<nav class="navbar flex">
    <i class="bx bx-menu" id="sidebar-open"></i>
    <span class="nav_image">
        <img src="/ico.png" alt="logo_img" />
      </span>
</nav>
<script th:src="@{/js/app.js}"></script>

<script src="/static/js/app.js"></script>

</body>
</html>